.OrderFormBox {
  width: 60%;
}

.OrderFormBox h2 {
  text-align: center;
}

.OrderFormBox form {
  width: 100%
}

.OrderFormItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  margin-bottom: 16px;
}

.OrderFormItem label {
  width: 20%;
}

.OrderFormItem input {
  width: 60%;
  padding: 4px 8px;
  line-height: 1.5;
}

.BtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SpinnerBox {
  width: 6em;
  height: 6em;
  display: block;
  background: white;
  z-index: 900;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.Show {
  display: flex;
}

.Hide {
  display: none;
}

.SigninText {
  width: 100%;
  text-align: center;
}

.SigninText p {
  font-size: 14px;
}

.SigninText p span {
  cursor: pointer;
  color: #5C9210;
  font-weight: 600;
}

.SuccessText {
  text-decoration: none;
  color: #5C9210;
  font-weight: 600;
}

.SuccessText:hover {
  text-decoration: none;
  color: #5C9210;
}