.LogoBox {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.LogoBox img {
  height: 60%;
}

.BrandName {
  font-family: 'Gochi Hand', 'Open Sans';
  font-size: 2em;
  font-style: italic;
  margin-left: .25em;
}