.LogoBox {
  height: 100%;
  margin: 0 16px;
}

.LogoLink {
  height: 100%;
  text-decoration: none;
}

.LogoLink:hover {
  text-decoration: none;
}

.LogoContent {
  height: 100%;
  display: flex;
  align-items: center;
}

.BrandImage {
  height: 60%;
}

.BrandName {
  text-decoration: none;
  font-family: 'Gochi Hand', 'Open Sans';
  font-size: 2em;
  font-style: italic;
  margin-left: .25em;
}