.CheckoutSection {
  display: flex;
  align-items: center;
}

.BtnBox {
  position: absolute;
  right: 0;
}

@media (max-width: 499px) {
  .CheckoutSection {
    flex-direction: column;
  }

  .BtnBox {
    position: relative;
  }
}