.OrdersBox {
  display: block;
  width: 100%;
  min-height: 80vh;
}

.OrdersBox h3 {
  margin-left: 12px;
}

.SpinnerBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.OrderItem {
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
}

.OrderItemContent {
  padding: 16px 12px 8px;
  padding-left: 20px;
}

.DangerItem {
  border: 1px solid #703B09;
  border-left: 8px solid #703B09;
  box-shadow: 2px 0 1px #703B09;
}

.SuccessItem {
  border: 1px solid #5C9210;
  border-left: 8px solid #5C9210;
  box-shadow: 2px 0 1px #5C9210;
}

.PrimaryItem {
  border: 1px solid #38ada9;
  border-left: 8px solid #38ada9;
  box-shadow: 2px 0 1px #38ada9;
}

.ErrorItem {
  border: 1px solid #e55039;
  border-left: 8px solid #e55039;
  box-shadow: 2px 0 1px #e55039;
}

.OrderItemContent span {
  padding: 4px 8px;
  margin: 0 4px;
  background: #eee;
  border: 1px solid #ccc;
}

.noOrderMessageBox {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noOrdersMessage {
  margin: 0;
}

.noOrderLink {
  text-decoration: none;
  color: #5C9210;
  font-weight: 600;
}

.displayNone {
  display: none;
}

.ErrorBox {
  position: absolute;
  top: 40vh;
  width: 100%;
  text-align: center;
}

.NotAuthMessageBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SuccessText {
  text-decoration: none;
  color: #5C9210;
  font-weight: 600;
}

.SuccessText:hover {
  text-decoration: none;
  color: #5C9210;
}