.InputItem {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.InputItem label {
  width: 20%;
  text-align: left;
  margin: 0;
}

.InputItem .inputElement,
.InputItem .selectElement {
  width: 70%;
  box-sizing: border-box;
  padding: 4px 8px 8px;
  line-height: 1.3;
  outline: none;
}

.InputItem .inputElement:focus {
  background: #ccc;
  outline: none;
}

.Invalid {
  background: #fab1a0;
  border: 1px solid red;
}

.Valid {
  border: 1px solid #703B09;
  background: white;
}

.ErrorBox {
  width: 100%;
  box-sizing: border-box;
  padding-left: 28%;
}

.ErrorBox p {
  text-align: left;
  margin: 0;
  font-size: 12px;
  color: red;
}

.requiredSymbol {
  color: red;
  font-size: 12px;
}

@media (max-width: 480px) {
  .InputItem {
    flex-direction: column;
    align-items: flex-start;
  }

  .InputItem label {
    width: 100%;
    margin-bottom: .75em;
  }

  .InputItem .inputElement,
  .InputItem .selectElement {
    width: 100%;
  }
}