.CheckoutBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.OrderFormBox {
  width: 60%
}

.SpinnerBox {
  width: 6em;
  height: 6em;
  position: fixed;
  top: 40%;
  left: 50%;
  background: white;
  z-index: 900;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.Show {
  display: flex;
}

.Hide {
  display: none;
}

.NotifBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NotifBox .deliText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotifBox .deliText span {
  margin-left: 8px;
}

.NotifBox p {
  text-align: center;
}

.NotifBox .successText {
  text-decoration: none;
  font-weight: 600;
  color: #5C9210;
}