.CheckoutBox {
  margin: 32px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.CheckoutFormBox {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.SpinnerBox {
  width: 6em;
  height: 6em;
  position: fixed;
  top: 40%;
  left: 50%;
  background: white;
  z-index: 900;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.Show {
  display: flex;
}

.Hide {
  display: none;
}

@media (max-width: 767px) {
  .CheckoutFormBox {
    width: 100%;
    margin-top: 48px;
  }
}