.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.NavigationItemsMobile {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}