.AuthSection {
  min-height: 80vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthBox {
  box-sizing: border-box;
  padding: 12px 24px;
  width: 80%;
  border: 1px solid rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1px rgba(0,0,0,.5);
}

.AuthBox h3 {
  margin-bottom: 1em;
  color :#703B09;
  font-weight: 600;
}

.AuthBox form {
  width: 100%
}

.PrimaryText {
  text-decoration: none;
  color: #38ada9;
  font-weight: 600;
}

.PrimaryText:hover {
  text-decoration: none;
  color: #38ada9;
}